<% provide(:title, 'Attributes') %>
<h1>All Attributes</h1>

<div class="row">
  <div class="span2"><h4>Name</h4></div>
  <div class="span2"><h4>Type</h4></div>
  <div class="span3"><h4>Possible Values</h4></div>
  <div class="span5"></div>
</div>

<div class="row">
  <%= render @possible_attributes %>
</div>

<hr />

<div class="row">
  <% if current_user.admin? %>
    <div class="span7 offset5">
      <%= link_to "new attribute", new_possible_attribute_path %>
    </div>
  <% end %>
</div>
